{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block content %}
<a href="{% url 'accounts:logout' %}">ログアウト</a>
<h1>home</h1>
<p><a href="{% url 'tweets:create' %}"><button type="button">ツイート</button></a></p>
{% if messages %}
<div>
    <p>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    </p>
</div>
{% endif %}
{% for tweet in tweet_list %}
<div>
    <p>投稿者 : {{ tweet.user }}</p>
    <p>内容 : {{ tweet.content }}</p>
    <a href="{% url 'tweets:detail' tweet.pk %}">詳細</a>
    {% include 'tweets/like.html' %}

</div>
{% endfor %}
{% endblock %}
{% block js %}
{% include 'tweets/script.html' %}
{% endblock %}
